

<h2>User Info</h4>

<%= form_for(@user) do |user| %>
<%= render 'layouts/errors', obj: @user %>
name : <%= user.text_field :name %>
<%= user.attachment_field :profile_image %>
introduction :<%= user.text_area :introduction %>

<%= user.submit %>
<% end %>
