<div class = info >
	<%= render 'users/info', user: @user %>
</div>
	<%= render 'new', book: @book %>



<h1> Book Deteil</h1>
<table>
<tr>
<td><%= attachment_image_tag @user, :profile_image, :fill, 15, 15 %></td>
<td><%= @boo.title %></td>
<td><%= @boo.body %></td>
<td><%=  link_to 'edit',  edit_book_path(@boo.id) %></td>
<td><%=  link_to 'Destroy',  book_path(@boo.id), method: :delete %></td>
</tr>
</table>